*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
/* menu desktop*/
.menu-desktop {
  display: flex;
  height: 8vh;
  width: 100%;
  gap: 0.8rem;
  background-color:#E6AEC1;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.menu-esquerdo ul {
  background-color: #E6AEC1;
}

.logo {
  height: 2rem;
  width: auto;
  background-color:#E6AEC1;
  cursor: pointer;
}

.menu-esquerdo a {
  margin-right: 1.5rem;
  text-decoration: none;
  background-color: #E6AEC1;
  color: #6f5b35;
}

.menu-direito ul {
  background-color: #E6AEC1;
}

.menu-direito a {
  margin-left: 1.5rem;
  text-decoration: none;
  background-color: #E6AEC1;
  color: #6f5b35;
}

.menu-esquerdo ul :hover {
  color: #ED3237;
}

.menu-direito ul :hover {
  color: #ED3237;
}

header {
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

/*fim menu desktop*/
/*menu mobile*/
.menu-mobile {
  display: none;
  height: 8vh;
  width: 100%;
  gap: 14px;
  background-color:#E6AEC1;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.logo-mob {
  height: 28px;
  width: auto;
  background-color:#E6AEC1;
  cursor: pointer;
}

.nav-mob {
  display: flex;
  background-color: #E6AEC1;
}

.nav-mob li {
  list-style: none;
  letter-spacing: 2px;
  margin-left: 16px;
  background-color: #E6AEC1;
}

.nav-mob a {
  background-color: #E6AEC1;
  color: #6f5b35;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  background-color: #E6AEC1;
}

.bar {
  display: block;
  width: 32px;
  height: 2px;
  background: #6f5b35;
  color: #E6AEC1;
  margin: 8px;
  transform: 0.3s ease-in-out;
}
/*fim menu mobile*/

/*slider*/
#banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 90vh;
  width: 100vw;
}

.slider-container {
  align-items: center;
  height: 100%;
}

.slide {
  width: 95vw;
  overflow: hidden;
}

.slider-container .slide {
z-index: 1;
position: absolute;
width: 100%;
clip-path: circle(0% at 0 50%);
}

.slider-container .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 0.6s;
  transition-property: clip-path;
}

.slider-container .slide img {
  z-index: 1;
  width: 100%;
  max-height: 90vh;
}

.slider-container .slide .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 25%;
  color: #fff;
}

.slider-container .slide .info h1 {
  max-width: 85%;
  margin-bottom: .8rem;
  font-size: 2rem;
  font-weight: 800;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px;
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.1);
}

.slider-container .slide .info h1 span {
  max-width: 100%;
  font-weight: 600;
  font-size: 1rem;
}

.slider-container .slide .info a {
  text-decoration: none;
  color: #fff;
  background-color: #E6AEC1;
  padding: 15px;
  border-radius: 10px;
  transition: 0.5s ease;
}

#banner a:hover{
  background-color: #e16e94;
}

.slider-container .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 35vh;
  left: 5%;
  transform: translateX(-50%)
  
}

.slider-container .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 15px;
  height: 15px;
  margin: 12px;
  cursor: pointer;
}

.slider-container .navigation .btn.active {
  background: #e16e94;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
/*fim slider*/
/*vacinas*/
#vacinas {
  background-color: #ffffff;  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.vacina-conteiner {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.vacina-conteiner h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 50px;
  background-color: #f2d2da;
  color: #6f5b35;
}
.vac-card-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
.card-vacina {
  display: flex;
  border: solid 2px;
  border-radius: 2px;
  width: 300px;
  color: #6f5b35;
  margin-top: 3px;
  margin-left: 3px;
  justify-content: center;
}
.asterisco {
  display: flex;
  color: #6f5b35;
  margin-top: 1rem;
  font-size: 12px;
  margin-bottom: 1rem;
}
.info-vac {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-calend {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
}
.perf-calend {
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
  padding: 0.8rem;
  width: 120px;
  text-align: center;
  background-color: #f2d2da;
  box-shadow: 20px 20px 30px -30px;
  cursor: pointer;
}
.perf-calend img {
  width: 50%;
  height: 50%;
  object-fit: fill;
}
.perf-calend p {
  color: #6f5b35;
}
.card-calend :hover {
  background-color: #E6AEC1;
  transition: 0.3s;
}
/*fim-vacinas*/
/*servicos*/
#servicos {
  background-color: #f2d2da;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.servicos-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.actioncall{
  margin-top: 1rem;
}

.servicos-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 50px;
  background-color: #e5a3b3;
  color: #6f5b35;
}
.cards-serv p, h4 {
  color: #6f5b35;
}
.box-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}
.cards-serv {
  border-radius: 3%;
  padding: 1rem;
  width: 250px;
  text-align: center;
  background-color: #E6AEC1;
  box-shadow: 20px 20px 30px -30px;
}
.cards-serv img {
  width: 90%;
  border-radius: 10%;
  margin-bottom: 1rem;
}
.cards-serv h4 {
  margin-bottom: 0.6rem;
}

.box-cards :hover {
  scale: 1.03;
}
/*fim servicos*/
/*clinica*/
#clinica {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100vw;

}
.clinica-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 50px;
  background-color: #f2d2da;
  color: #6f5b35;
}
.slider {
  width: 400px;
  float: left;
}
.slide-clinica {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 75vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.slideclinic {
  width: 300px;
  overflow: hidden;
  display: flex;
  box-shadow: 20px 20px 30px -30px;
  padding: 0.5rem;
  background-color: #f2d2da;
  border-radius: 10px;
}
.slideclinic img {
  width: 100%;
  height: 80%;
  border-radius: 10px;

}
.slide-clinica button {
  display: block;
  background-color: #f2d2da;
  border: none;
  border-radius: 10%;
  padding: 3px;
  cursor: pointer;
}
.texto-clinica {
  min-width: 350px;
  max-width: 550px;
}
.texto-clinica p {
  border-radius: 3%;
  padding: 1rem;
  text-align: center;
  background-color: #f2d2da;
  box-shadow: 20px 20px 30px -30px;
  color: #6f5b35;
}
.instagram {
  background-color: #f2d2da;
  width: 100vw;
}
.instagram h3 {
  background-color: #E6AEC1;
}
.caixa-insta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.incorp {
  overflow: hidden;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #E6AEC1;
  box-shadow: 20px 20px 30px -30px;
}
/*fim clinica*/
/*footer*/
.footer{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rodape {
  display: flex;
  flex-wrap: wrap;
  background-color: #E6AEC1;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.caixa-logor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 404px;
  gap: 1rem;
}
.logor img {
  height: 3rem;
  width: auto;
  cursor: pointer;
}
/*btn sociais*/
.phone {
  display: flex;
  align-items: center;
}
.icone-fone {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 0.6rem;
  color: #fff;
  background-color: #96a1ed;
  border-radius: 35px;
}
.box {
  width: 182px;
  height: 55px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0.6rem;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  transition: all .3s ease;
}
.box:hover {
  background-color: #e03abc;
  color: #fff;
  box-shadow: 0 0 50px #c0229e7c;
}
.box:nth-child(1):hover {
  background: #6181e9;
  box-shadow: 0 0 50px #5e8edb7c;
}
.box:nth-child(2):hover {
  background: #c32aa3;
  box-shadow: 0 0 50px #b315917c;
}
.iconbar a {
  text-decoration: none;
  color: #6f5b35;
  transform: translate(55px);
}
.iconbar p {
  transform: translate(60px);
}
.box:nth-child(3):hover {
  background: #25d366;
  box-shadow: 0 0 50px #25d3657e;
}
.box:nth-child(4):hover {
  background: #25d366;
  box-shadow: 0 0 50px #25d3657e;
}
.box .icon {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  transition: all .4s ease;
}
.fone {
  background-color: #6181e9;
}
.instag {
  background-color: #c32aa3;
}
.wpp {
  background-color: #25d366;
}
.box:hover .icon {
  background: #fff;
  color: #3b3b3b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
}
/*fim btn sociais*/
/*MAPA*/
.mapa-conteiner {
  display: flex;
  gap: 1rem;
  margin: 1.5rem;
}
.caixa-mapa h3 {
  color: #6f5b35;
}
.caixa-mapa p {
  color: #6f5b35;
}
.caixa-mapa {
  width: 300px;
  padding: 1rem;
}
.caixa-mapa iframe {
  margin-top: 1rem;
  width: 300px;
}
/*FIM - MAPA*/
.caixa-horario {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 404px;
}
.boxh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.boxh h3, p {
  color: #6f5b35;
}
.boxh .hora {
  background-color: #6f5b35;
  padding: 7px;
  border-radius: 10px;
  color: #fff;
}
.line {
  width: 90%;
  height: 0;
  border: 1px solid;
  color: #6f5b35;
}
.lineend {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 20px 0 ;
}

footer .dev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  scale: 0.8;
  text-decoration: none;
  color: #6f5b35;
  border-radius: 10px;
  transition: 0.2s ease-in;
}

footer .dev:hover {
  color: #fff;
  background-color: #6f5b35;
  border-radius: 10px;
}

/*botao wpp*/
#wppfull {
  position: fixed;
  z-index: 999;
  top: 85vh;
  right: 4vw;
}

.boxfull {
  width: 50px;
  height: 50px;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.wppfull {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #17e563;
  border-radius: 50%;
}

.boxfull .fale {
  text-decoration: none;
  width: 150px;
  height: 44px;
  transition: 0.3s ease-in;
  display: flex;
  background: #fff;
  position: fixed;
  top: 86vh;
  right: 6vw;
}
.boxfull :hover {
  transition: 0.3s ease-in;
  scale: 1.2;
  background: #1eda63;
  box-shadow: 0 0 30px #16a64d7e;
}

/*fim botao wpp*/
/*fim-footer*/

/*responsividade*/
/*basicao*/
@media (max-width: 851px) {
  header {
      z-index: 999;
      width: 100vw;
    }
    
    .menu-desktop {
      display: none;
    }
  
    .menu-mobile {
      display: flex;
      justify-content: space-around;
      min-width: 375px;
    }
  
    .hamburger {
      display: block;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(10px) rotate(45deg)
    }
  
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-10px) rotate(-45deg)
    }
  
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
  
    .nav-mob {
      color: #e5a3b3;
    }
  
    .nav-mob li :hover {
      color: #ED3237;
      font-weight: 400;
    }
  
    .nav-mob {
      position: fixed;
      top: -7vh;
      left: 100vw;
      width: 60vw;
      height: 93vh;
      border-radius:0px 0px 0px 10px;
      background-color: #E6AEC1;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      transition: 0.2s ease-in-out;
    }
  
    .nav-mob.active {
      z-index: 999;
      top: 7vh;
      left: 40vw;
    }

    footer .dev {
      scale: 0.6;
    }
} 

@media (max-width: 840px){
  #banner {
    height: 65vw;
  }

  .slider-container .slide .info {
    top: 35%;
    left: 18%;
  }

  .slider-container .slide .info h1 {
    margin-bottom: 1rem;
    font-size: 2rem;

  }
  
  .slider-container .slide .info h3 {
    font-size: 1.2rem;
  }
  
  .slider-container .navigation {
    top: 25vw;
    left: 5%;
  }
}

@media (max-width: 460px){
  #banner {
    height: 65vw;
  }

  .slider-container .slide .info {
    top: 25vw;
    left: 12%;
  }

  .slider-container .slide .info h1 {
    margin-bottom: 0.8rem;
    font-size: 1rem;
  }
  
  .slider-container .slide .info h3 {
    font-size: 0.8rem;
  }
  
  .slider-container .navigation {
    top: 12vh;
    left: 5%;
  }
}

/*fim responsividade*/